@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}